package ${yawpPackage}.models.${endpoint.packageName};

import io.yawp.repository.IdRef;
import io.yawp.repository.annotations.Endpoint;
import io.yawp.repository.annotations.Id;

@Endpoint(path = "/$endpoint.path")
public class $endpoint.name {

    @Id
    IdRef<$endpoint.name> id;

}
