/*
#   $$$$$$\  $$\           $$\                 $$\           
#  $$  __$$\ $$ |          $$ |                $$ |          
#  $$ /  \__|$$ | $$$$$$\  $$$$$$$\   $$$$$$\  $$ | $$$$$$$\ 
#  $$ |$$$$\ $$ |$$  __$$\ $$  __$$\  \____$$\ $$ |$$  _____|
#  $$ |\_$$ |$$ |$$ /  $$ |$$ |  $$ | $$$$$$$ |$$ |\$$$$$$\  
#  $$ |  $$ |$$ |$$ |  $$ |$$ |  $$ |$$  __$$ |$$ | \____$$\ 
#  \$$$$$$  |$$ |\$$$$$$  |$$$$$$$  |\$$$$$$$ |$$ |$$$$$$$  |
#   \______/ \__| \______/ \_______/  \_______|\__|\_______/ 
#                                                            
#                                                            
# */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
	background-color: #fffffc;
	text-align: center;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}
a,
a:link,
a:visited {
	color: #51aadc;
}
a:hover,
a:active {
	text-decoration: underline;
}
a.white,
a.white:link,
a.white:visited {
	color: #fffffe;
	text-decoration: none;
}
a.white:hover,
a.white:active {
	/*color: #51aadc;*/
}
a.btn-green,
a.btn-green:link,
a.btn-green:visited {
	color: #fffff5;
	text-decoration: none;
}
a.btn-green:hover,
a.btn-green:active {
}
a.btn-green1,
a.btn-green1:link,
a.btn-green1:visited {
	color: #fffff4;
	text-decoration: none;
}
a.btn-green1:hover,
a.btn-green1:active {
}
a.btn-border,
a.btn-border:link,
a.btn-border:visited {
	color: #fffff6;
	text-decoration: none;
}
a.btn-border:hover,
a.btn-border:active {
}
a.footer-link,
a.footer-link:link,
a.footer-link:visited {
	color: #fffff3;
	text-decoration: none;
}
a.footer-link:hover,
a.footer-link:active {
	text-decoration: underline;
}
.a-block {
	display: block;
}

h1 {
	font-size: 1.25rem;
	font-weight: 700;
}

img {
	max-width: 100%;
}


/*
#  $$$$$$$\    $$\               
#  $$  __$$\   $$ |              
#  $$ |  $$ |$$$$$$\   $$$$$$$\  
#  $$$$$$$\ |\_$$  _|  $$  __$$\ 
#  $$  __$$\   $$ |    $$ |  $$ |
#  $$ |  $$ |  $$ |$$\ $$ |  $$ |
#  $$$$$$$  |  \$$$$  |$$ |  $$ |
#  \_______/    \____/ \__|  \__|
#                                
#                                
#*/

/* helper classes for btn */
.btn-green {
	background-color: #1ec279;
	border: 2px solid #1ec279;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
}
.btn-green:hover {
	background-color: #00b069;
	border: 2px solid #00b069;
}
.btn-green1 {
	background-color: #1ec278;
	border: 2px solid #1ec278;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
}
.btn-green1:hover {
	background-color: #00a75f;
	border: 2px solid #00a75f;
}
.btn-border {
	border: 2px solid #fffff6;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
}
.btn-border:hover {
	background-color: #006fb5;
	box-shadow: inset 0px 0px 10px rgba(5,5,5,.4);
}

/*
#  $$\      $$\                               
#  $$$\    $$$ |                              
#  $$$$\  $$$$ | $$$$$$\  $$$$$$$\  $$\   $$\ 
#  $$\$$\$$ $$ |$$  __$$\ $$  __$$\ $$ |  $$ |
#  $$ \$$$  $$ |$$$$$$$$ |$$ |  $$ |$$ |  $$ |
#  $$ |\$  /$$ |$$   ____|$$ |  $$ |$$ |  $$ |
#  $$ | \_/ $$ |\$$$$$$$\ $$ |  $$ |\$$$$$$  |
#  \__|     \__| \_______|\__|  \__| \______/ 
#                                             
#                                             
#*/

.menu {
	width: 100%;
	min-height: 82px;
	background-color: #363637;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 22px 0 20px;
}
.mobileMenu {
	color: #fff;
	font-size: 2rem;
	vertical-align: middle;
	display: none;
}
.fa-bars {
	font-family: FontAwesome;
}
.menu__content {
	max-width: 1170px;
	margin: 0 auto;
	display: table;
}
.menu__content__logo {
	display: table-cell;
}
.menu__content__logo > a > img {
	padding: 0 10px;
	vertical-align: middle;
}
.menu__content__options {
	display: table-cell;
	width: 100%;
	text-align: right;
}
.menu__content__links {
	vertical-align: middle;
	margin-right: 20px;
	padding: 15px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: .75rem;
	display: inline-block;
	max-width: 98px;
	text-align: center;
}
a.menuHeader:link,
a.menuHeader:visited {
	color: #fffffe;
	text-decoration: none;
}
a.menuHeader:hover,
a.menuHeader:active {
	color: #51aadc;
}

.menu__content-btn {
	display: inline-block;
	margin: 0 13px 0 0;
	padding: 13px 10px;
	width: 196px;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-weight: 700;
	border-radius: 4px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

/*
#  $$\   $$\                           $$\                     
#  $$ |  $$ |                          $$ |                    
#  $$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$\  
#  $$$$$$$$ |$$  __$$\  \____$$\ $$  __$$ |$$  __$$\ $$  __$$\ 
#  $$  __$$ |$$$$$$$$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
#  $$ |  $$ |$$   ____|$$  __$$ |$$ |  $$ |$$   ____|$$ |      
#  $$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
#  \__|  \__| \_______| \_______| \_______| \_______|\__|      
#                                                              
#                                                              
#*/

.header-bg {
	background: #115d8d  no-repeat top center;
	background-size: cover;
	width: 100%;
	height: auto;
	position: relative;
}
.header-bg-image {
	position: absolute;
	z-index: -100;
	width: 1px;
	height: 1px;
}
.header-bg__container {
	padding: 134px 0;
	color: #fffffd;
}
.header-bg__container-content {
	display: inline-block;
	vertical-align: middle;
}
.header-bg__container-title {
	max-width: 620px;
	margin: 0 auto 20px;
}
.header-bg__container-copy {
	margin: 0 auto;
	padding-bottom: 33px;
	width: 620px;
	font-size: 2.125rem;
}
.header-bg__container-btn {
	display: inline-block;
	margin: 0 13px;
	padding: 20px 10px;
	width: 375px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	border-radius: 4px;
	text-transform: uppercase;
	vertical-align: middle;
}

.header-bg__container-disclaimer {
	padding: 34px 20px 0;
	margin: 0 auto;
	width: 620px;
	font-size: .875rem;
	line-height: 1.68;
}
.header-bg__container-privacy {
	margin: 0 auto;
	width: 150px;
	font-size: .875rem;
	line-height: 1.68;
	display: block;
}
.header-bg__circle {
	position: absolute;
	margin: 0 auto;
	bottom: -25px;
	left: 0;
	right: 0;
	background-color: #1fa2ed;
	width: 52px;
	height: 52px;
	border-radius: 50%;
}
.header-bg__circle:before {
	content: '\f107';
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: FontAwesome;
	font-size: 2.5rem;
	font-weight: 800;
	color: #fffffa;
	padding-top: 8px;
}

/*
#   $$$$$$\                        $$\     $$\                     
#  $$  __$$\                       $$ |    \__|                    
#  $$ /  \__| $$$$$$\   $$$$$$$\ $$$$$$\   $$\  $$$$$$\  $$$$$$$\  
#  \$$$$$$\  $$  __$$\ $$  _____|\_$$  _|  $$ |$$  __$$\ $$  __$$\ 
#   \____$$\ $$$$$$$$ |$$ /        $$ |    $$ |$$ /  $$ |$$ |  $$ |
#  $$\   $$ |$$   ____|$$ |        $$ |$$\ $$ |$$ |  $$ |$$ |  $$ |
#  \$$$$$$  |\$$$$$$$\ \$$$$$$$\   \$$$$  |$$ |\$$$$$$  |$$ |  $$ |
#   \______/  \_______| \_______|   \____/ \__| \______/ \__|  \__|
#                                                                  
#                                                                  
#*/

.tutorial {
	margin: 0 auto;
	padding-top: 95px;
	max-width: 1040px;
}
.tutorial__headline {
	font-size: 1.5rem;
	padding-bottom: 30px;
}
.tutorial__list {
	text-align: center;
	list-style: none;
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
	padding: 30px 0 25px;
	margin-right: 20px;
}
.tutorial__list__copy {
	padding-bottom: 28px;
	text-align: left;
	width: 490px;
}
.tutorial__list__copy:before {
	content: '\f00c';
	width: 20px;
	font-family: FontAwesome;
	color: #1ec277;
	margin-left: -20px;
	display: inline-block;
}
.tutorial__btn {
	display: block;
	margin: 0 auto 35px;
	padding: 20px 10px;
	width: 365px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.0;
	font-weight: 700;
	border-radius: 4px;
	text-transform: uppercase;
}

/* divider bar, needs to have ability to be hidden */
.divider {
	margin: 35px auto 34px;
	max-width: 1200px;
	height: 1px;
	background-color: #e1e1e2;
}

/* Presenter section */
.presenter {
	margin: 34px auto;
	max-width: 430px;
	text-align: center;
}
.presenter__header {
	font-size: 1.5rem;
	font-weight: 300;
}
.presenter img {
	margin: 38px 0 32px;
}
.presenter__title {
	line-height: 1.5;
	font-weight: 400;
}
.presenter__copy {
	margin: 31px 0 35px;
	font-weight: 100;
	line-height: 1.625;
}


/*
#  $$$$$$$$\ $$\                               $$\ $$\       $$\                     
#  $$  _____|$$ |                              $$ |\__|      $$ |                    
#  $$ |      $$ | $$$$$$\  $$\   $$\  $$$$$$$\ $$ |$$\  $$$$$$$ | $$$$$$\   $$$$$$\  
#  $$$$$\    $$ |$$  __$$\ \$$\ $$  |$$  _____|$$ |$$ |$$  __$$ |$$  __$$\ $$  __$$\ 
#  $$  __|   $$ |$$$$$$$$ | \$$$$  / \$$$$$$\  $$ |$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
#  $$ |      $$ |$$   ____| $$  $$<   \____$$\ $$ |$$ |$$ |  $$ |$$   ____|$$ |      
#  $$ |      $$ |\$$$$$$$\ $$  /\$$\ $$$$$$$  |$$ |$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
#  \__|      \__| \_______|\__/  \__|\_______/ \__|\__| \_______| \_______|\__|      
#                                                                                    
#                                                                                    
#*/
/* These are helper classes for the flexslider */ 

.flex-set {
	padding: 70px 0 0;
	position: relative;
}
.flex-background {
	background-color: #f8f8f8;
	border: none;
	box-shadow: none;
}
.flex_inner_wrap {
	margin: 0 auto;
	display: table;
	table-layout: fixed;
}
.flex-container-outer {
	margin: 0 auto;
	padding-top: 36px;
}
.flex-left, .flex-right {
	display: table-cell;
}
.flex-center {
	display: table-cell;
	max-width: 750px;
	vertical-align: top;
}
.flex_header-copy {
	font-size: 1.5rem;
	font-weight: 300;
	padding: 0 20px 30px;
}
.flex-caption {
	margin: 0 auto;
	padding: 0 36px 30px;
	position: relative;
	line-height: 1.625;
}
.flex-author {
	font-weight: 400;
	width: 400px;
	margin: 0 auto 40px;
}

/* flexslider resets */
.flexslider > ol {
	position: static;
	padding-bottom: 70px;
}
.flexslider > ul {
	display: none;
}

/* helper class for display bar only in builder */
.displayTestOnly {
	position: absolute;
	top: 0;
	width: 100%;
	background: #266993;
	padding: 5px 0;
	color: #fffff9;
	font-family: FontAwesome, Lato, sans-serif;
	font-size: .8rem;
}
.hideBox {
	display: none;
}


/*
#  $$$$$$$\            $$\ $$\       $$\                     
#  $$  __$$\           \__|$$ |      $$ |                    
#  $$ |  $$ |$$\   $$\ $$\ $$ | $$$$$$$ | $$$$$$\   $$$$$$\  
#  $$$$$$$\ |$$ |  $$ |$$ |$$ |$$  __$$ |$$  __$$\ $$  __$$\ 
#  $$  __$$\ $$ |  $$ |$$ |$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
#  $$ |  $$ |$$ |  $$ |$$ |$$ |$$ |  $$ |$$   ____|$$ |      
#  $$$$$$$  |\$$$$$$  |$$ |$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
#  \_______/  \______/ \__|\__| \_______| \_______|\__|      
#                                                            
#                                                            
#*/

.builder {
	max-width: 1060px;
	margin: 0 auto -4px;
	display: table;
	table-layout: fixed;
}
.builder__list {
	display: table-cell;
	width: 425px;
	padding-top: 30px;
}
.builder__list-title {
	padding-bottom: 10px;
	font-size: 1.5rem;
	text-align: left;
	font-weight: 300;
	width: 400px;
}
.builder__list__ul {
	padding: 22px 0 10px 10px;
	margin-left: 10px;
	text-align: left;
	list-style: none;
}
.builder__list__copy {
	padding-bottom: 16px;
	width: 400px;
}
.builder__list__copy:before {
	content: '\f00c';
	width: 20px;
	font-family: FontAwesome;
	color: #1ec280;
	margin-left: -20px;
	display: inline-block;
}
.builder__btn {
	display: block;
	margin: 22px 0 35px;
	padding: 20px 10px;
	width: 365px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.0;
	font-weight: 700;
	border-radius: 4px;
	text-transform: uppercase;
}
.builder__image {
	display: table-cell;
	vertical-align: bottom;
}


.about {
	max-width: 100%;
	background-color: #f8f8f9;
	border-top: 1px solid #e2e2e2;
}
.about__container {
	max-width: 768px;
	margin: 0 auto;
	padding: 70px 0 64px;
}
.about__container-title {
	font-size: 1.5rem;
	font-weight: 300;
	padding-bottom: 27px;
}
.about__container-phrase {
	padding: 20px 0;
}
.about__container-copy {
	padding: 20px 15px;
	line-height: 1.625;
	font-weight: 100;
}


.contact-bg {
	background: #115d8d  no-repeat top center;
	background-size: cover;
	width: 100%;
	height: auto;
	padding: 68px 20px 75px;
	color: #fffffb;
}
.contact-bg-image {
	position: absolute;
	z-index: -100;
	width: 1px;
	height: 1px;
}
.contact__cta {
	display: inline-block;
	padding: 25px 0;
	width: 400px;
}
.contact__cta-title {
	font-size: 1.625rem;
	font-weight: 300;
	padding-bottom: 25px;
}
.contact__cta-copy {
	padding-bottom: 23px;
}
.contact-btn {
	display: inline-block;
	margin: 0 13px;
	padding: 20px 10px;
	width: 375px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	border-radius: 4px;
	text-transform: uppercase;
}

/*
#  $$$$$$$$\                   $$\                         
#  $$  _____|                  $$ |                        
#  $$ |    $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\  
#  $$$$$\ $$  __$$\ $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\ 
#  $$  __|$$ /  $$ |$$ /  $$ | $$ |    $$$$$$$$ |$$ |  \__|
#  $$ |   $$ |  $$ |$$ |  $$ | $$ |$$\ $$   ____|$$ |      
#  $$ |   \$$$$$$  |\$$$$$$  | \$$$$  |\$$$$$$$\ $$ |      
#  \__|    \______/  \______/   \____/  \_______|\__|      
#                                                          
#                                                          
#*/

.footer {
	width: 100%;
	height: auto;
	padding: 45px 20px 40px;
	background-color: #363636;
	color: #fffff1;
	font-size: .875rem;
}
.footer__container {
	max-width: 750px;
	margin: 0 auto;
	position: relative;
	padding: 0 5px;
}
.footer__container-links {
	padding-bottom: 22px;
}
.footer__container-copyright {
	padding-top: 24px;
}

.footer__container-social {
	position: absolute;
	top: 0;
	left: 100%;
	width: 75px;
}

.footer__container-link-a {
	padding: 0 12px 0 3px;
	position: relative;
	max-width: 140px;
	display: inline-block;
	vertical-align: top;
}
.footer__container-link-a:last-child {
	border-right: none;
	padding-right: 0;
}

.footer__container-link-a:after {
	content: '';
	height: 90%;
	width: 2px;
	background-color: #fffff1;
	position: absolute;
	top: 3px;
	right: 3px;
}
.footer__container-link-a:last-child:after {
	display: none;
}


/*
#   $$$$$$\                      $$\           $$\ 
#  $$  __$$\                     \__|          $$ |
#  $$ /  \__| $$$$$$\   $$$$$$$\ $$\  $$$$$$\  $$ |
#  \$$$$$$\  $$  __$$\ $$  _____|$$ | \____$$\ $$ |
#   \____$$\ $$ /  $$ |$$ /      $$ | $$$$$$$ |$$ |
#  $$\   $$ |$$ |  $$ |$$ |      $$ |$$  __$$ |$$ |
#  \$$$$$$  |\$$$$$$  |\$$$$$$$\ $$ |\$$$$$$$ |$$ |
#   \______/  \______/  \_______|\__| \_______|\__|
#                                                  
#                                                  
#*/


.social-btn {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	padding: 10px;
	display: inline-block;
	border: 1px solid #fffff2;
	position: relative;
}
.facebook:before {
	content: '\f09a';
	font-family: FontAwesome;
	position: absolute;
	top: 3px;
	left: 0;
	right: 0;
	font-size: 1.025rem;
}
.twitter:before {
	content: '\f099';
	font-family: FontAwesome;
	position: absolute;
	top: 3px;
	left: 0;
	right: 0;
	font-size: 1.025rem;
}
.facebook, .twitter {
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.facebook:hover {
	background-color: #3b5998;
}
.twitter:hover {
	background-color: #55adee;
}


/*
#  $$\      $$\                 $$\ $$\                  $$$$$$\                                          
#  $$$\    $$$ |                $$ |\__|                $$  __$$\                                         
#  $$$$\  $$$$ | $$$$$$\   $$$$$$$ |$$\  $$$$$$\        $$ /  $$ |$$\   $$\  $$$$$$\   $$$$$$\  $$\   $$\ 
#  $$\$$\$$ $$ |$$  __$$\ $$  __$$ |$$ | \____$$\       $$ |  $$ |$$ |  $$ |$$  __$$\ $$  __$$\ $$ |  $$ |
#  $$ \$$$  $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |      $$ |  $$ |$$ |  $$ |$$$$$$$$ |$$ |  \__|$$ |  $$ |
#  $$ |\$  /$$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |      $$ $$\$$ |$$ |  $$ |$$   ____|$$ |      $$ |  $$ |
#  $$ | \_/ $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |      \$$$$$$ / \$$$$$$  |\$$$$$$$\ $$ |      \$$$$$$$ |
#  \__|     \__| \_______| \_______|\__| \_______|       \___$$$\  \______/  \_______|\__|       \____$$ |
#                                                            \___|                              $$\   $$ |
#                                                                                               \$$$$$$  |
#*/

@media only screen and (max-width: 67.5em) {
	.header-bg__container {
		padding: 40px 0;
	}
	.menu__content-btn {
		margin: 0 5px 0 0;
		width: 150px;
		font-size: .65rem;
		padding: 13px 5px;
	}
	.tutorial {
		max-width: 100%;
	}
	.tutorial__list {
		display: block;
		padding: 0 0 0 90px;
	}
	.tutorial__list__copy {
		margin: 0 auto;
	}
	.divider {
		max-width: 80%;
	}
	.builder {
		max-width: 100%
	}
	.builder__list {
		display: inline-block;
		padding-left: 20px;
	}
	.builder__image {
		display: inline-block;
	}
	.builder__image > img {
		width: 500px;
	}
	.footer__container-social {
		position: static;
		width: auto;
	}
	.social-btn {
		width: 140px;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 62.5em) {
	.menu__content__logo {
		display: block;
	}
	.menu__content__options {
		display: block;
		width: 100%;
	}
	.flex_inner_wrap {
		max-width: 600px;
	}
}

@media only screen and (max-width: 48em) {
	.menu__content {
		position: relative;
		width: 100%;
		z-index: 50;
	}
	.mobileMenu {
		display: inline-block;
		float: right;
		text-align: right;
		padding-right: 25px;
	}
	.menu__content__options {
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 100;
		background-color: #363637;
		padding: 10px 0;
		text-align: center;
	}
	.menu__content__logo {
		display: inline-block;
		float: left;
		text-align: left;
	}
	.flex_inner_wrap {
		max-width: 490px;
	}
}

@media only screen and (max-width: 38.75em) {
	.menu__content__links {
		display: block;
		margin: 0 auto;
		padding: 5px 0 15px;
	}
	.menu__content-btn {
		width: 270px;
	}
	.header-bg__container-title {
		max-width: 280px;
		margin: 0 auto 20px;
	}
	.header-bg__container-btn {
		width: 280px;
	}
	.header-bg__container-copy {
		width: 280px;
		font-size: 1.425rem;
	}
	.header-bg__container-disclaimer {
		width: 280px;
	}
	.header-bg__container-content > img {
		width: 60%;
	}
	.tutorial__list {
		padding: 0 0 0 10px;
		margin-left: 10px;
	}
	.tutorial__list__copy {
		width: 250px;
	}
	.tutorial__btn {
		width: 280px;
	}
	.flex-set {
		padding: 30px 0 0;
	}
	.flex_inner_wrap {
		max-width: 400px;
	}
	.builder__list {
		width: 315px;
		display: block;
	}
	.builder__list-title {
		width: 280px;
		font-size: 1.3rem;
	}
	.builder__list__ul {
		padding: 22px 0 10px 10px;
	}
	.builder__list__copy {
		width: 250px;
	}
	.builder__btn {
		width: 280px;
	}
	.builder__image {
		display: block;
	}
	.builder__image > img {
		width: 250px;
	}
	.contact__cta {
		width: 280px;
	}
	.contact-btn {
		width: 250px;
	}
	.footer__container-link-a {
		display: block;
		padding: 5px 0;
		margin: 0 auto;
	}
	.footer__container-link-a:after {
		content: none;
	}

}
@media only screen and (max-width: 25em) {
	.flex-author {
		width: 260px;
	}
	.flex-caption {
		font-size: .87rem;
	}
	.flex-left, .flex-right {
		display:none;
	}
}





















