<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>EndpointServlet</servlet-name>
        <servlet-class>io.yawp.servlet.EndpointServlet</servlet-class>
        <servlet>
            <servlet-name>EndpointServlet</servlet-name>
            <servlet-class>io.yawp.servlet.EndpointServlet</servlet-class>
            <init-param>
                <param-name>enableCrossDomain</param-name>
                <param-value>false</param-value>
            </init-param>
            <init-param>
                <param-name>crossDomainOrigin</param-name>
                <param-value>?</param-value>
            </init-param>
            <init-param>
                <param-name>crossDomainMethods</param-name>
                <param-value>GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD</param-value>
            </init-param>
            <init-param>
                <param-name>crossDomainHeaders</param-name>
                <param-value>Origin, X-Requested-With, Content-Type, Accept, Authorization</param-value>
            </init-param>
            <init-param>
                <param-name>crossDomainAllowCredentials</param-name>
                <param-value>true</param-value>
            </init-param>
        </servlet>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndpointServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndpointServlet</servlet-name>
        <url-pattern>/api/_tasks/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EndpointFixturesServlet</servlet-name>
        <servlet-class>io.yawp.servlet.FixturesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndpointFixturesServlet</servlet-name>
        <url-pattern>/fixtures/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ToolsServlet</servlet-name>
        <servlet-class>io.yawp.tools.ToolsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToolsServlet</servlet-name>
        <url-pattern>/_ah/yawp/*</url-pattern>
    </servlet-mapping>

    <!-- servlet>
        <servlet-name>PipelineServlet</servlet-name>
        <servlet-class>com.google.appengine.tools.pipeline.impl.servlets.PipelineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PipelineServlet</servlet-name>
        <url-pattern>/_ah/pipeline/*</url-pattern>
    </servlet-mapping -->

    <!-- security-constraint>
        <web-resource-collection>
            <web-resource-name>${artifactId}-all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>${artifactId}-fixtures</web-resource-name>
            <url-pattern>/fixtures/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>${artifactId}-tests</web-resource-name>
            <url-pattern>/test/*</url-pattern>
        </web-resource-collection>
    </security-constraint -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>${artifactId}-tasks</web-resource-name>
            <url-pattern>/api/_tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>${artifactId}-admin</web-resource-name>
            <url-pattern>/_ah/yawp/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

</web-app>
