<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>EndpointServlet</servlet-name>
        <servlet-class>io.yawp.servlet.EndpointServlet</servlet-class>

        <init-param>
            <param-name>packagePrefix</param-name>
            <param-value>io.yawp</param-value>
        </init-param>

        <init-param>
            <param-name>enableCrossDomain</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndpointServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FixturesServlet</servlet-name>
        <servlet-class>io.yawp.servlet.FixturesServlet</servlet-class>

        <init-param>
            <param-name>packagePrefix</param-name>
            <param-value>io.yawp</param-value>
        </init-param>

        <init-param>
            <param-name>enableHooks</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FixturesServlet</servlet-name>
        <url-pattern>/fixtures/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ToolsServlet</servlet-name>
        <servlet-class>io.yawp.tools.ToolsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToolsServlet</servlet-name>
        <url-pattern>/_ah/yawp/*</url-pattern>
    </servlet-mapping>
</web-app>
